.hero {
    height: 100vh;
}

.hero__container {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.hero__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__menu {
    margin: 0 20px;
}

.hero__header {
    padding-top: 40px;
}

.hero__content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.hero__btns {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}