.iconed-link {
    display: flex;
    &__icon {
        width: 28px;
        height: 25px;
        display: block;
        opacity: .5;
        margin-right: 20px;
        @include phones {
            display: none;
        }
    }
    &__site {
        margin-right: 20px;
        width: 20px;
        height: 20px;
        fill: #0033C9;
    }
    &__text {
        color: #0033C9;
    }
}