.impressions {
    &__header {
        display: flex;
    }
    &__list {
        display: flex;
    }
    &__author {
        display: flex;
    }
    &__author-data {
        display: flex;
        flex-direction: column;
    }
    &__author-name {
        font-size: 18px;
        font-weight: 700;
    }
    &__pic {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}