.nav {
    margin-bottom: 50px;
    
    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        text-decoration: none;
    }
}
