.skill__shape {
    width: 100px;
    height: 100px;
    fill: transparent;
    stroke-dasharray: 501;
    transform: rotate(97deg);
}

.skill__circle--position--under {
    stroke: grey;
    stroke-width: 10px;
}

.skill__circle--position--above {
    stroke-dasharray: 250;
    stroke: red;
    stroke-width: 20px;
}