.skills-row {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 30px;
    &__title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
}
