.slider {
    display: flex;
    position: relative;
    margin-bottom: 60px;
    &__preview {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 150px;
    }
    &__buttons {
        display: flex;
        background-color: red;
        position: absolute;
        right: 0;
        bottom: -45px;
    }
    
}