.socials {
    display: flex;
    align-items: center;
}

.socials__item {
    margin-right: 40px;

    &:last-child {
        margin-right: 0;
    }
}

.socials__icon {
    width: 28px;
    height: 31px;
    display: block;
    &--footer {
        width: 55px;
        height: 55px; 
        padding: 10px;       
        fill: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
    }
}