.tags {
    display: flex;
    &__item {
        display: flex;
        padding: 15px;
        border-radius: 20px;
        list-style-type: none;
        background-color: #EFF2F8;
        margin-right: 15px;
        &last-child {
            margin: 0;
        }
    }

}