.triangles {
    display: flex;
    margin-top: -80px;
    &__item {
        width: 50%;
        display: block;
        height: 80px;
        fill: white;
        &-works {
            fill: #E0ECF4;
        }
    }
}
