.useful {
    display: flex;
}

.useful__container {
    display: flex;
}

.useful__left {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/bg/sack.png") no-repeat top / cover;
}

.useful__right {
    display: flex;
    flex-direction: column;
}

.useful__desc {
    font-style: italic;
}

.useful__title-text {
    font-size: 28px;
}
