.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-info__desc {
    display: flex;
    align-items: center;
    text-align: center;
    width: 60%;
    font-size: 22px;
}

.user-info__username {
    font-weight: 700;
    font-size: 40px;
}