.works {
    display: flex;
    margin-bottom: 140px;
    &__container {
        display: flex;
    }
    &__left {
        min-width: 60%;
        margin-right: 120px;
    }
    &__tags {
        margin-bottom: 35px;
    }
    &__text {
        width: 80%;
    }
    &__title {
        font-weight: 700;
        font-size: 26px;
        margin-bottom: 35px;
    }
    &__desc-text {
        margin-bottom: 35px;
        font-weight: 600;
        font-size: 16px;
        opacity: .6;
    }
}